<link href="~/Admin/css/bootstrap.css" rel="stylesheet" />
<link href="~/Admin/css/font-awesome.min.css" rel="stylesheet" />
@{

    Layout = null;
}
<style>
    body{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h2{
        margin:30px;
        padding:10px;
    }
    p{
        font-size:larger;
    }
</style>
<div class="container">
    <div class="btn-danger" >
        <h2 >Access Denied - لف وإرجع تاني</h2>

    </div>
    <p>For English Go Down</p>
    <p dir="rtl">
        معلش بقا مش هقدر انفذلك طلبك هنا اي حذف او اضافه او تعديل انا
        سامح بيهم للادمن فقط علشان بس أتاكد
        ان محدش يغير ف الداتا
        علشان شكل
        التطبيق
        ميبوظش  يلا بقا ارجع كمل لف
    </p>

    <p>Sorry I Can't Proccess You Request Cuz It's For Me (Admin) Only So We Can Keep The Data Orgenized Thanks U Can Go On With U r Tour</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go To Home</a>
</div>